* {
    margin: 0;
}

body {
    font-size: 19px;
    line-height: 1.5;
    margin-top: 20px;
    width: 500px;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

li:hover {
    background-color: lightgray;
}

.folder_icon {
    color: orange;
    margin-right: 3px;
}

.insert_drive_file {
    color: gray;
    margin-right: 3px;
}

.open {
    display: block;
}

.closed {
    display: none;
}

.right-click-area {
   display: flex;
   position: relative;
}
.right-click-menu {
   position: fixed;
   list-style: none;
   display: none;
   background-color: silver;
}
.right-click-menu.active {
   display: block;
}
.right-click-menu li {
   width: 100%;
   box-sizing: border-box;
   cursor: pointer;
}
.right-click-menu li:hover {
   background-color: lightgray;
}
